html, body {
 margin: 0;
 padding: 0;
 background-color: #000;
 font-family: 'Courier';
 color: #008000;
 font-size: 12pt;
 line-height: 10pt;
 display: flex;
 justify-content: center;
 align-items: center;
}

canvas {
 display: block;
}
